<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="wheel_gazebo" params="prefix">
        <gazebo reference="${prefix}link">
            <mu1 value="100.0"/>
			      <mu2 value="100.0"/>
 			      <kp value="10000000.0" />
			      <kd value="1.0" />
		      	<fdir1 value="1 0 0"/>
			      <material>Gazebo/Yellow</material>
        </gazebo>
    </xacro:macro>

    <!-- Gazebo Mimic Joints Plugin -->
  <xacro:macro name="mimic_joint_plugin_gazebo" params="prefix parent_joint mimic_joint has_pid:=false multiplier offset:=0 sensitiveness:=0.0 max_effort:=1.0 robot_namespace:=''">
    <gazebo>
      <plugin name="${prefix}mimic_joint_plugin" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
        <joint>${parent_joint}</joint>
        <mimicJoint>${mimic_joint}</mimicJoint>
        <xacro:if value="${has_pid}">                     <!-- if set to true, PID parameters from "/gazebo_ros_control/pid_gains/${mimic_joint}" are loaded -->
          <hasPID />
        </xacro:if>
        <multiplier>${multiplier}</multiplier>
        <offset>${offset}</offset>
        <sensitiveness>${sensitiveness}</sensitiveness>   <!-- if absolute difference between setpoint and process value is below this threshold, do nothing; 0.0 = disable [rad] -->
        <maxEffort>${max_effort}</maxEffort>              <!-- only taken into account if has_pid:=true [Nm] -->
        <xacro:unless value="${robot_namespace == ''}">
          <robotNamespace>($robot_namespace)</robotNamespace>
        </xacro:unless>
      </plugin>
    </gazebo>
  </xacro:macro>


</robot>
