<?xml version="1.0"?>
<robot name="rising_base_platform" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

    <!-- ************* -->
    <!-- IMPORT MACROS -->
    <!-- ************* -->
    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->
    <!--  -->
    <xacro:include filename="$(find rising_description)/urdf/common.gazebo.xacro"/>
    <xacro:include filename="$(find rising_description)/urdf/base/rising_base.urdf.xacro"/>
    <!-- WHEELS 
    <xacro:include filename="$(find rising_description)/urdf/wheels/wheel.urdf.xacro"/>-->
    <!-- FLIPPERS -->
    <xacro:include filename="$(find rising_description)/urdf/flippers/front_flipper.urdf.xacro"/> 
    <xacro:include filename="$(find rising_description)/urdf/flippers/back_flipper.urdf.xacro"/> 


    <!-- ********** -->
	<!-- PROPERTIES -->
	<!-- ********** -->
	<!-- MATH -->
    <!-- Add correct values -->
	<xacro:property name="PI" value="3.1415926535897931"/>
    <!-- MOTOR WHEELS -->
	<!--<xacro:property name="wheel_offset_x" value="0.1535"/> --> <!-- x,y,z in translation from base_link to the center of the wheel -->
	<!--S<xacro:property name="wheel_offset_y" value="0.275"/>    
    <xacro:property name="wheel_offset_z" value="0.0"/> -->
    <xacro:property name="flipper_offset_x" value="0.27455"/>
    <xacro:property name="flipper_offset_y" value="0.0"/>
    <xacro:property name="flipper_offset_z" value="0.0"/>


    <xacro:macro name="rising_base_platform" params="prefix publish_bf hq">
    
        <!-- RISING platform -->
        <xacro:rising_platform prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>

        <!-- WHEELS 
        <xacro:wheel prefix="${prefix}left" parent="${prefix}base_link" reflect="true" hq="${hq}">
            <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:wheel>

        <xacro:wheel prefix="${prefix}right" parent="${prefix}base_link" reflect="true" hq="${hq}">
            <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:wheel> -->

        <!-- FLIPPERS -->
        <xacro:flipper prefix="${prefix}" parent="${prefix}base_link" hq="${hq}">
            <origin xyz="${flipper_offset_x} ${flipper_offset_y} ${flipper_offset_z}" rpy="0 0 0"/>
        </xacro:flipper>

        <!-- ************** -->
        <!-- GAZEBO PLUGINS -->
        <!-- ************** -->
        <!-- Gazebo ros control pluggins -->
        <xacro:ros_control/>

        <xacro:gazebo_colors prefix="$(arg prefix)"/>

    </xacro:macro>

</robot>